body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.character-gallery{


}

.card {
margin: 1rem;

}

.card-header {


}


.card-body {


}


.card-footer {


}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.character-list {
  display: flex;
  justify-content: center;

}